body {
  margin: 0;
  padding-bottom: 2em;
}

body > *, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
}


h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}


div#popupmessage {
    background: #fcc;
    font-weight: bold;
    text-align: center;
    margin-left: 2em;
    margin-right: auto;
    padding: 0.5em;
    width: 15em;
    -webkit-border-bottom-left-radius: 2.0em;
    -webkit-border-bottom-right-radius: 2.0em;
    -moz-border-bottom-left-radius: 2.0em;
    -moz-border-bottom-right-radius: 2.0em;
}


table {
  margin-left: 0.5em;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #eef;
}

td, th {
  border: solid black 1px;
  padding: 0.5em;
  vertical-align: top;
}


th {
  background: #ffc;
  writing-mode: tb-rl;
}


textarea.code, div.code {
  font-family: 'Courier New', fixed;
  font-weight: normal;
  font-size: 100%;
}


input[type=text], input[type=password], textarea {
  border: solid gray 1px;
  background: #ccf;
  padding: 0.25em;
}


input[type=text], input[type=password] {
  font-size: 100%;
}


table.layout {
  margin-left: 0;
}


table.layout th, table.layout td {
  border: none;
  padding: none;
}


table.layout tr {
  background: transparent;
}


table.issuestatus {
  margin-left: 0.5em;
}


table.issuestatus th, table.issuestatus td {
  border: none;
  padding: none;
}


div.comment, div.attachment, div.edit {
  background: #ffc;
  border: dashed black 2px;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


div.comment > h2, div.attachment > h2, div.edit > h2 {
  margin-left: 0;
  font-size: 100%;
  font-weight: bold;
}


div.comment > h2 {
  margin-bottom: 0.75em;
}


div.code > p {
  margin: 0;
  margin-bottom: 1em;
}


div.code > p:last-child {
  margin-bottom: 0;
}


div.warning {
  border: dashed red 2px;
  background: #fcc;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.warning {
  font-weight: bold;
}


div.note {
  max-width: 30em;
}


div.form {
  padding-top: 1em;
}


div.form.mini {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}


form {
  border: dashed black 2px;
  margin: 0.5em;
  margin-right: 2.5em;
  padding: 0.5em;
}


form > div:first-child {
}


form > div {
  margin: 1em;
}


form > div.submit {
  text-align: right;
}


img.captcha {
  border: solid gray 2px;
  vertical-align: middle;
}


div.foot {
  border-top: dashed gray 1px;
  margin-top: 2em;
  padding-top: 0.5em;
  font-style: italic;
  color: #666;
}


div.foot > table.layout > tbody > tr > td,
div.foot > table.layout > tbody > tr > th {
  vertical-align: middle;
}


div.foot * {
  font-style: inherit;
  color: inherit;
}
