div#navigation, div.navigation {
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 100%;
  -webkit-user-select: none;
}

div#navigation {
  background: #99cc66;
  border-bottom: solid gray 1px;
}

div#navigation > a, div#navigation > b, div#navigation > div.separator {
  display: inline;
  border: none;
  border-right: solid gray 1px;
}

div.navigation > div.separator {
  display: inline;
  border: none;
}

div#navigation > a, div#navigation > b, div#navigation > div.separator,
div.navigation > a, div.navigation > b, div.navigation > div.separator {
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

div.navigation > a:first-child, div.navigation > b:first-child {
  margin-left: 2em;
  border-left: solid gray 1px;
}

div.navigation > a, div.navigation > b {
  padding: 0.25em;
}

div.navigation > a, div.navigation > b, div.navigation > div.separator {
  border-bottom: solid gray 1px;
  border-right: solid gray 1px;
}

div#navigation > a, div.navigation > a {
  text-shadow: white 0.1em 0.1em;
  background-color: #9c6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				     from(#9c6),
				     color-stop(50%, #fff),
				     color-stop(51%, #9c6));
  background-image: -moz-linear-gradient(0% 0%, 0% 100%,
					 from(#9c6),
					 color-stop(50%, #fff),
					 color-stop(51%, #9c6));
}

div#navigation > b, div#navigation > a.disabled, div.navigation > b {
  text-shadow: white 0.1em 0.1em;
  background-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				     from(#888),
				     color-stop(50%, #fff),
				     color-stop(51%, #000));
  background-image: -moz-linear-gradient(0% 0%, 0% 100%,
					 from(#888),
					 color-stop(50%, #fff),
					 color-stop(51%, #000));
}

div#navigation > b, div#navigation > b *,
div.navigation > b, div.navigation > b * {
  cursor: default;
}

div#navigation > div.separator, div.navigation > div.separator {
  width: 0;
  padding-left: 10px;
  padding-right: 0;
}

div#navigation, div#navigation > div.separator, div.navigation > div.separator {
  background-color: #684;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				     from(#684),
				     color-stop(50%, #fff),
				     color-stop(51%, #684));
  background-image: -moz-linear-gradient(0% 0%, 0% 100%,
					 from(#684),
					 color-stop(50%, #fff),
					 color-stop(51%, #684));
}
