div#navigation, div.navigation, div#navigationright {
  margin: 0;
  font-size: 100%;
  line-height: 150%;
  -webkit-user-select: none;
}

div#navigation {
  border-bottom: solid gray 1px;
}

div#navigation > a, div#navigation > b, div#navigation > div.separator,
div#navigationright > a, div#navigationright > b,
div.navigation > div.separator {
  display: inline;
  border: none;
}


div#navigation > a, div#navigation > b, div#navigation > div.separator {
  border-right: solid gray 1px;
}

div#navigationright > a, div#navigationright > b {
  border-left: solid gray 1px;
}

div#navigation > a, div#navigation > b, div#navigation > div.separator,
div.navigation > a, div.navigation > b, div.navigation > div.separator,
div#navigationright > a, div#navigationright > b {
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

div.navigation > a:first-child, div.navigation > b:first-child {
  margin-left: 2em;
  border-left: solid gray 1px;
}

div.navigation > a, div.navigation > b {
  padding: 0.25em;
}

div.navigation > a, div.navigation > b, div.navigation > div.separator {
  border-bottom: solid gray 1px;
  border-right: solid gray 1px;
}

a.login, a.logout {
  cursor: pointer;
}

div#navigation > b, div#navigation > b *,
div.navigation > b, div.navigation > b *,
div#navigationright > b, div#navigationright > b * {
  cursor: default;
}

div#navigation > div.separator, div.navigation > div.separator {
  width: 0;
  padding-left: 10px;
  padding-right: 0;
}

         
div#navigationright {
  position: absolute;
  top: 0;
  right: 0;
}

div#loginbox {
  position: absolute;
  top: 1.7em;
  right: 0;
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: solid gray 1px;
  border-bottom: solid gray 1px;
  background-color: #9c6;
}


div#loginbox > form {
  margin: 0.5em;
}


div#navigation > a, div.navigation > a, div#navigationright > a {
  background-color: #cf9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				     from(#cf9),
				     color-stop(50%, #fff),
				     color-stop(51%, #cf9),
				     color-stop(75%, #cf9),
				     to(#674));
  background-image: -moz-linear-gradient(0% 0%, 0% 100%,
					 from(#cf9),
					 color-stop(50%, #fff),
					 color-stop(51%, #cf9),
					 color-stop(75%, #cf9),
					 to(#674));
}

div#navigation > b, div#navigation > a.disabled, div.navigation > b,
div#navigationright > b, div#navigationright > a.login.active {
  background-color: #000;
  color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				     from(#000),
				     color-stop(50%, #777),
				     color-stop(51%, #000));
  background-image: -moz-linear-gradient(0% 0%, 0% 100%,
					 from(#000),
					 color-stop(50%, #777),
					 color-stop(51%, #000));
}

div#navigation, div#navigation > div.separator, div.navigation > div.separator {
  background-color: #9c6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				     from(#9c6),
				     color-stop(50%, #fff),
				     color-stop(51%, #9c6),
				     color-stop(75%, #9c6),
				     to(#463));
  background-image: -moz-linear-gradient(0% 0%, 0% 100%,
					 from(#9c6),
					 color-stop(50%, #fff),
					 color-stop(51%, #9c6),
					 color-stop(75%, #9c6),
					 to(#463));
}
